h1{
    font-size:large;
    font-family:'Lucida sins','Lucida sans Regular','Lucida sans';
    color: rgb(13, 9, 204);
}

h2{
    font-size:medium;
    font-family:'Lucida sins','Lucida sans Regular','Lucida sans';
    color: rgb(0, 0, 0);
}